.navbar {
	background-color: #95a5a6;
	color: #95a5a6;
}

.img-fluid{
	height: 254px;
	width: 341px;
}

.logo{
	width: 30px;
	height: 30px;
}

marquee{
padding-top: 5px;
font-size: 25px;
color: white;
}

.col-md-3 col-sm-6{
	height: 500px
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #000; 
   color: white;
   text-align: center;
}

.text{
	padding-left: 40%;
	padding-top: 15px;
}

.row .col-md-2{
	text-align: left;
	margin-left: 400px;
}
.col-md-10{
	margin-left: 400px;
}
.col-md-6 h3{
	font-size: 25px;
	color: black;
}

.glyphicon-pencil{
	font-size: 50px;
	color: black;
	float: right;
	margin-top: 20px;
}

.col-md-5{
	margin-top: 80px;
	margin-left: 100px;
	margin-right: 100px;
	height: 500px;
	background: rgb(176, 178, 157);
}

.label{
	font-weight: normal;
	margin-top: 15px;
	color: black;
	font-size: 19px;
}

.form-control{
	background: transparent;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid black;
	font-size: 18px;
	margin-top: 15px;
	height: 40px;
	color: black;
}

